@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --grayblue: #2A324B;
    --lightblue: #58699D;
    --lightgray: #E1E5EE;
    --white: #fff;

    --font: "Montserrat", sans-serif;
    --rootsize: 20px; /* feil verdier? */
    --maxsize: 1200px; /* feil verdier? */
}

body {
    background-color: var(--lightblue);
    font-family: var(--font);
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
}

.tab
.tab-container a {
    text-decoration: none;
    color: var(--white)
}

.tab-container:hover {
   
}

.tab-container:active {
    display: block;
}